doctype html
html
    head
        title Template
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='/style.css')
    body
        main
            block content
            button.pure-button test
